Problem #5.1

In [1]:
cname = "Python Programming"

print (cname)
print (cname[:6])
print (cname[:-11])
print (cname[:-1])


print (cname.split(" "))
print (cname.split()[0])
print (cname.split()[1])

Python Programming
Python
Python
Python Programmin
['Python', 'Programming']
Python
Programming

In [3]:
string1 = 'Python Programming Livermore'
substring = 'py'

city = 'Livermore'
cnt = string1.count(city)
print ('Number of {1} occurrence {0}'.format(cnt, city))
print (f'Number of {cnt:10} occurrence {city:10}')

idx = string1.find('Livermore') 
print ('Index of Livermore', idx)
idx = string1.find('Livermore', 8) 
print ('Index of Livermore', idx)

print (string1[idx:idx+len(city)])

Number of Livermore occurrence 1
Number of          1 occurrence Livermore
Index of Livermore 19
Index of Livermore 19
Livermore

In [5]:
languages = 'Python, Java, C++, Ruby, Rail, Java Script, PHP, Go, Gotlin'
list_languages = languages.split(',')

print (list_languages)
print (list_languages[0])

['Python', ' Java', ' C++', ' Ruby', ' Rail', ' Java Script', ' PHP', ' Go', ' Gotlin']
Python

strip() methods

In [7]:
strval = 'Python Programming    '   
## strval has the additional spaces after values

strval = strval.strip() # now, the spaces after string value have been stripped
strval

'Python Programming'

In [9]:
## rstrip

blank_padded_str = "    Python   "
print (blank_padded_str)
rstripped_str = blank_padded_str.rstrip(' ') 
print (rstripped_str)

lstripped_str = blank_padded_str.lstrip(' ') 
print (lstripped_str)

garbage_padded = '   Pyhton_+$?....'
rstripped_str = garbage_padded.rstrip('_+?.')

    Python
    Python
Python

isalnum, isalpha, isdigit, isnumeric

In [11]:
val1 = 'Python'
print (val1.isalpha())
val1 = 'Python3'
print (val1.isalpha())


val2 = '94543'
print (val2.isnumeric())
print (val2.isdigit())
print (val2.isdecimal())

True
False
True
True
True

In [13]:
original_str = input('Enter your string')
word_str = input('Enter the serach keyword')

idx = original_str.find(word_str)
print (original_str[idx: idx+len(word_str)])

Enter your string 100
Enter the serach keyword Wakkakaka

0

split()

In [15]:
strval = "Python Java PHP C++ R SQL"
strval.split()

['Python', 'Java', 'PHP', 'C++', 'R', 'SQL']

In [17]:
strval = "Python Java PHP C++ R SQL"
strval = strval.split()
print (strval)

['Python', 'Java', 'PHP', 'C++', 'R', 'SQL']

Problem #5.2

In [43]:
name = "Nathaniel Lopez"
fname = name[:9]
fname

'Nathaniel'

In [53]:
name = "Nathaniel Lopez"
lname = name[10:]
lname

'Lopez'

In [65]:
new_name = "Lopez Nathaniel"
lnew_name = new_name[6:]
lnew_name

'Nathaniel'

In [67]:
new_name = "Lopez Nathaniel"
fnew_name = new_name[:5]
fnew_name

'Lopez'

Problem #5.3

In [71]:
name = 'Nathaniel Lopez'
found_index = name.find(' ')
found_index

9

In [95]:
email_str = 'Nathanile@company.com'
found_idx = email_str.index('@')
found_idx

9

In [99]:
email_str = 'noreply@database.company.edu'
idx_dot = email_str.index('@')
found_idx

9

In [101]:
email_id = '2myemail'
result = email_id[0].isalpha()
print(result)

False

In [111]:
email_id = 'myemail.1234'
result = email_id[-4:].isdigit()
found_result = result
found_result

True

Problem #5.4

In [113]:
original_str = 'Python C++ HTML PHP JAVA'
split_str = original_str.split()
print (split_str)

['Python', 'C++', 'HTML', 'PHP', 'JAVA']

In [119]:
original_str = 'Nathaniel/Lopez/Cruz/Demure'
split_str =original_str.split('/')
split_str

['Nathaniel', 'Lopez', 'Cruz', 'Demure']

In [138]:
str1 = 'first'
str2 = 'second'
str3 = 'third'
merged_str = str1 + '+' + str2 + '+' + str3 
merged_str

'first+second+third'